numpy
tensorflow==2.14.0
tensorflow-probability==0.22.1
tensorflow-addons==0.23.0
tensorboard
keras==2.14.0
scipy
matplotlib
h5py
astropy
progressbar2
cerberus
dm-sonnet
pandas
scikit-learn
astropy-healpix
reproject